URxvt*scrollBar:     false
URxvt*scrollBar_right:   false
URxvt.shading: 35
URxvt*transparent:   true

URxvt*title: urxvt
URxvt*termName: rxvt-unicode-256color
URxvt.letterSpace: -4
URxvt.cursorBlink: 1
URxvt.font: xft:SFNSDisplay:size=16

! special
*.foreground:   #ffffff
*.background:   [80]#1e1e1e
*.cursorColor:  #ffffff

! black
*.color0:       #222222
*.color8:       #333333

! red
*.color1:       #ca4a4b
*.color9:       #ca4a4b

! green
*.color2:       #aa2a2a
*.color10:      #aa2a2a

! yellow
*.color3:       #830c0c
*.color11:      #830c0c

! blue
*.color4:       #5e0202
*.color12:      #5e0202

! magenta
*.color5:       #aa2a2a
*.color13:      #aa2a2a

! cyan
*.color6:       #ffffff
*.color14:      #ffffff

! white
*.color7:       #ffffff
*.color15:      #ffffff

URxvt.perl-ext-common:        default,xkr-clipboard
URxvt.iso14755:               false
URxvt.keysym.Shift-Control-C: perl:clipboard:copy
URxvt.keysym.Control-Insert:  perl:clipboard:copy
